header{
    
      padding-top: 25px;
    color: blue;
    background-color:plum;
    text-align: center;
    height: 40px;
    
    
}

main h2{
    color: blue;
    margin-left: 400px;

}
main img{
       margin-left: 400px;
}
main h1,p{
    color: black;
    margin-left: 400px;
}
 #copyright{
          
    padding-top: 25px;
    color: blue;
    background-color:rgb(136, 96, 231);
    text-align: center;
    height: 40px;
    


}